html, body{
    overflow-x:hidden;
}
body{
    font-family: Roboto, sans-serif;
    position: relative;
}
.contact{
    position: relative;
    top:55px;
    left:30%;
}
.contact img{
    width:130px;
    vertical-align:middle;
}
.contact .name{
    position: absolute;
    top:35px;
    margin-left:10px;
    width:350px;
    font-size:26px;
    color:#024873;
}
.contact .social a {
    color:#444444;
    margin-right:8px;
}
.contact .social{
    position: absolute;
    margin-top:10px;
}
.clip-circle{
    clip-path:circle(65px at 65px 65px);
}
.content{
   xposition:relative;
   margin-bottom:150px;
}
.content h3{
    letter-spacing: 0.06em;
    color:#024873;
    font-weight:700;
}
.intro{
    position: relative;
    margin-top:30px;
    left:24.5%
}
.intro p{
    width:650px;
    line-height: 30px;
    text-align: left;
}
.intro button{
    background:#024873;
    color:white;
    border:none;
    border-radius:5px;
    padding:10px;
    font-size:14pt;
    cursor: pointer;
    outline:none;
    opacity:0.9;
}
.intro button:hover{
    opacity:1;
}
.skills{
    position: relative;
    left:24.5%;
    margin-top:55px;
}
.skills li{
    color:#024873;
    font-weight: bold;
}
.projects{
    position: relative;
    margin-top:55px;
    left:24.5%;
}

.project-box{
    position: relative;
    display:inline-block;
    margin-right: 25px;
}
.projects a{
    color:#024873;
    text-decoration: none;
}
.projects a:hover{
    text-decoration: underline;
}
.projects h4{
    text-align: center;
}
.project-box img{
    width:350px;
    box-shadow: 4px 6px 11px 0px rgba(189,189,189,1);
}

@media only screen and (max-width: 900px){
    body{
        width: device-width;
        overflow-x: hidden;
    }
    h3, h4{
        font-size:18px;
    }
    .contact{
        width:250px;
        left:5%;
    }
    .contact .name{
        font-size:18px;
    }
    p{
        font-size:14px;
    }
    .content{
        position: absolute;
        margin-top:20px;
        left:-100px;
    }
    .intro p{
        width: 325px;
    }
    .project-box img{
        width: 250px;
    }

}