$imageSize: 200px;
.hero {
  .intro-image {
    width: $imageSize;
    height: $imageSize;
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 100%;
    background-size: $imageSize auto;
    margin: 0 auto;
  }
  h1 {
    padding-top: 36px;
    padding-bottom: 24px;
  }
  p {
    padding-bottom: 24px;
  }
}
