$imageSize: 200px;
.hero {
  // padding: 48px;
  .intro-image {
    // align-self: center;
    width: $imageSize;
    height: $imageSize;
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 100%;
    background-size: $imageSize auto;
    margin: 0 auto;
  }
}
