:root {
  --color-primary: #032859;
  --color-secondary: #07689f;
  --gray-1: #5a5a5a;
  --gray-2: #303030;

  --value-4: 0.25rem;
  --value-8: 0.5rem;
  --value-12: 0.75rem;
  --value-16: 1rem;
  --value-24: 1.5rem;
  --value-32: 2rem;
  --value-48: 3rem;
  --value-64: 4rem;
  --value-96: 6rem;
  --value-128: 8rem;
  --value-192: 12rem;
  --value-256: 16rem;
  --value-384: 24rem;
  --value-512: 32rem;
  --value-640: 40rem;
  --value-768: 48rem;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Roboto", sans-serif;

  font-family: var(--font-primary);
}

$primaryColor: #032859;
$secondaryColor: #07689f;

$primaryFont: "Montserrat", sans-serif;
$secondaryFont: "Roboto", sans-serif;

$gray1: #5a5a5a;
$gray2: #303030;
